<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome in Inspinia Angular 4 Starter Project
                </h1>
                <small>
                    It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment.
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary" (click)="getToken()">Token Endpoint</button>
        <h3>Access Token: {{ token.access_token }}</h3>
        <h3>Expires in: {{ token.expires_in }}</h3>
        <h3>Token Type: {{ token.token_type }}</h3>    
    </div>
</div>
